.explorer-item-button.dir{
  color:#a00;
}
.explorer-desc{
  color:#333;
}
.explorer-item-delete{
  margin-left: 10px;
  border:dotted #400 1px;
  color:#aaa;
  background:#000;
}
.explorer-item-delete:hover{
  border:dashed #400 1px;
  color:#f00;
  background:#333;
}
.explorer-item-selected td{
  background: #222;
}
.explorer-item td:last-of-type{
  width:100px;
}
.explorer-viewer{
  font-family: monospace;
  width:100%;
}
.explorer-item td{
  padding: 2px;
  border:dashed #000 1px;
}
.explorer-item:hover td{
  border:dashed #888 1px;
}
.explorer-button{
  border:dashed #800 1px;
  background: #000;
  margin-right: 5px;
  margin-bottom: 2px;
  padding:5px;
  color:#f00;
}
.explorer-button:hover{
  border:dotted #fff 1px;
  background: #400;
  margin-right: 5px;
  margin-bottom: 2px;
  padding:5px;
  color:#fff;
}
.explorer-path-field{
  color:#f00;
  background: #000;
  border:solid #800 1px;
  margin-right: 5px;
  margin-bottom: 2px;
  width:700px;
  font-size: 18px;
}
.explorer-path-field:focus{
  color:#f88;
}
.explorer-button-go{
  color:#f00;
  background:#000;
  border:dashed #800 1px;
  margin-left: 5px;
  margin-bottom: 2px;
  font-size: 18px;
}
.explorer-button-go:hover{
  color:#fff;
  background:#000;
  border:dotted #fff 1px;
  margin-left: 5px;
  margin-bottom: 2px;
}
.explorer-button:hover{
  border:dotted #fff 1px;
  background: #400;
  margin-right: 5px;
  margin-bottom: 2px;
  padding:5px;
  color:#fff;
}
.explorer-button:active{
  background: #888;
  color:#f00;
  border:solid #800 1px;
}
