@import "explorer.css";
@import "header.css";
body{
  background: #000;
  color:#fff;
}
main{
  margin-top: 160px;
  margin-bottom: 100px;
}
section{
  margin:20px;
}
footer{
  background: #000;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  border-top:double 1px #fff;
  text-align: right;
  z-index:100;
}
.edit-filedetails table{
  width:100%;
  margin-bottom: 30px;
}
.edit-filedetails table td{
  padding:10px;
  border-top: solid 1px #444;
  border-right: solid 1px #444;
}
.edit-filename{
  font-size: 25px;
  text-align: center;
  font-family: sans-serif;
}
.edit-save{
  color:white;
  background: #000;
  border-top:double 3px #fff;
  width:100%;
}
.edit-save:hover{
  color:red;
  background: #000;
}
.edit-field{
  width:100%;
}
.edit-content{
  background: #000;
  color:#fff;
  width:100%;
}
.current-screen{
  display:none
}
.current-screen.active{
  display:block;
}
.container{
  z-index:100;
  width:800px;
  margin:20px auto;
}
a{
  color:#a00;
}
a:hover{
  background: #333;
  animation-name: wonderfullAnim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes wonderfullAnim {
  0%{
    color:#fff;
  }
  50%{
    color:#f00;
  }
  100%{
    color:#fff;
  }
}
